.LoadingTodo-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    padding: 12px 0;
  }
  
  .LoadingTodo-text {
    margin: 16px 0 24px 24px;
    width: calc(100% - 120px);
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }
  
  .LoadingTodo-completeIcon,
  .LoadingTodo-deleteIcon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    height: 26px;
    width: 26px;
  }
  .LoadingTodo-completeIcon {
    position: absolute;
    left: 24px;
  }
  .LoadingTodo-deleteIcon {
    position: absolute;
    right: 12px;
  }
  
  
  .LoadingTodo-container,
  .LoadingTodo-completeIcon,
  .LoadingTodo-deleteIcon {
    background: linear-gradient(90deg,var(--darker-grey), var(--dark-grey));
    background-size: 400% 400%;
    animation: loadingAnimation 3s ease-in-out infinite;
  }
  
  @keyframes loadingAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }