.TodoSearch {
    background: var(--darker-grey);
    border-radius: 2px;
    border: 2px solid #202329;
    margin: 0 150px;
    height: 32px;
    width: calc(100% - 300px);
    font-size: 16px;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 400;
    color: var(--light-steel);
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
    
  }
  
  .TodoSearch::placeholder {
    color: var(--light-steel);
    font-family: 'Montserrat';
    font-weight: 400;
  }
  
  .TodoSearch:focus {
    outline-color: var(--light-steel);
  }